body {min-height:2000px; color: #333; font-size: 16px; font-weight: 400; line-height: 1.4; font-family: 'Nanum Gothic', sans-serif;} 
img {display: block;}
a {text-decoration: none;}
*, *::after, *::before {box-sizing: border-box;}

.inner {position: relative; width: 1100px; margin: 0 auto;}
.btn {display: inline-block; min-width: 130px; padding: 10px; font-size: 16px; font-weight: 700; text-align: center; border: 2px solid #333; border-radius: 4px; cursor: pointer; transition: .4s;}
.btn:hover {background-color: #333; color: #fff;}
.btn.btn--reverse {background-color: #333; color: #fff;}
.btn.btn--reverse:hover  {background-color: transparent; color: #333;}
.btn.btn--brown {color: #592b18; border-color: #592b18;}
.btn.btn--brown:hover  {background-color: #592b18; color: #fff;}
.btn.btn--gold {color: #d9aa8a; border-color: #d9aa8a;}
.btn.btn--gold:hover  {background-color: #d9aa8a; color: #333;}
.btn.btn--white {color: #fff; border-color: #fff;}
.btn.btn--white:hover  {background-color: #fff; color: #333;}

/* header */
header {position: fixed; top: 0; z-index: 9; width: 100%; background-color: #f6d6f0; border-bottom: 1px solid #c8c8c8;}
header > .inner {height: 120px;}
header .logo {position: absolute; top: 0; bottom: 0; margin: auto;}
header .sub-menu {display: flex; display: -ms-flexbox; position: absolute; top: 10px; right: 0;}
header .sub-menu ul.menu {display: flex; display: -ms-flexbox; font-family: Arial, Helvetica, sans-serif;}
header .sub-menu ul.menu li {position: relative;}
header .sub-menu ul.menu li + li::before {content: ''; position: absolute; top: 0; bottom: 0; width: 1px; height: 12px; margin: auto; background-color: #e5e5e5;}
header .sub-menu ul.menu li a {display: block; padding: 11px 16px; font-size: 12px; color: #666;}
header .sub-menu ul.menu li a:hover {color: #000;}
header .sub-menu .search {position: relative; height: 34px;}
header .sub-menu .search input {width: 36px; height: 34px; padding: 4px 10px; background-color: #fff; color: #777; border: 1px solid #ccc; box-sizing: border-box; border-radius: 5px; transition: width .4s;}
header .sub-menu .search input:focus {width: 190px; border-color: #669900;}
header .sub-menu .search .material-icons {position: absolute; top: 0; right: 5px; bottom: 0; height: 24px; margin: auto; transition: .4s;}
header .sub-menu .search._focused .material-icons {opacity: 0;}

header .main-menu {display: flex; display: -ms-flexbox; position: absolute; bottom: 0; right: 0; z-index: 1;}
header .main-menu .item {}
header .main-menu .item .item__name {padding: 10px 20px 34px 20px; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}
header .main-menu .item:hover .item__name {background-color: #2c2a29; color: #669900; border-radius: 6px 6px 0 0;}
header .main-menu .item .item__contents {display: none; position: fixed; left: 0; width: 100%; }
header .main-menu .item:hover .item__contents {display: block;}
header .main-menu .contents__menu {background-color: #2c2a29;}
header .main-menu .contents__menu > ul {display: flex; display: -ms-flexbox; padding: 20px 0;}
header .main-menu .contents__menu > ul > li {width: 220px;}
header .main-menu .contents__menu > ul > li h4 {padding: 3px 0 12px 0; font-size: 14px; color: #fff;}
header .main-menu .contents__menu > ul > li ul li {padding: 5px 0; font-size: 12px; color: #999; cursor: pointer;}
header .main-menu .contents__menu > ul > li ul li:hover {color: #669900;}
header .main-menu .contents__texture {padding: 26px 0; background:url(../images/main_menu_pattern.jpg) repeat 0 0; font-size: 12px;}
header .main-menu .contents__texture h4 {color: #999; font-weight: 700;}
header .main-menu .contents__texture p {color: 669900; margin: 4px 0 14px;}

header .badges {position: absolute; top: 132px; right: 12px;}
header .badges .badge {overflow: hidden; margin-bottom: 12px; border-radius: 10px; box-shadow: 4px 4px 10px rgba(0,0,0,.15); cursor: pointer;}

.visual {position: relative; margin-top: 120px; background: url(../images/visual_bg.jpg) no-repeat 50% 50%;}
.visual .inner {position: relative; height: 646px;}
.visual .title {}
.visual .title .btn {position: absolute; top: 88px; left: -10px;}
.visual .cup1.image {position: absolute; bottom: 0; right: -47px;}
.visual .cup1.text {position: absolute; top: 38px; right: 171px;}
.visual .cup2.image {position: absolute; bottom: 0; right: 162px;}
.visual .cup2.text {position: absolute; top: 321px; right: 416px;}
.visual .spoon {position: absolute; bottom: 0; left: 275px;}

